<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>, Ha editado una campana</h1>
    <p>La campana <% @campaign.titulo %> ha sido editada exitosamente.</p>
  </body>
</html>
