<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>, Ha recibido un nuevo comentario en <%= @campaign.titulo %></h1>
    <p><%= link_to "Haga click aqui para verlo!", campaign_url(@campaign) %></p>
  </body>
</html>
