<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>, Ha cambiado su contrasena.</h1>
    <p>Si no lo ha hecho usted, por favor cambiela de nuevo para mas seguridad.</p>
  </body>
</html>
