<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Gracias por unirse, <%= @user.name %>!</h1>
    <p>Cree una campana ya! <%= link_to "Click aqui para comenzar!", new_campaign_url %> </p>
  </body>
</html>
