<% if donations.any? %>
	<div>
		<h2>Donations: </h2>
		<table>
			<thead>
				<th>Autor</th>
				<th>Monto Hecho</th>
        <th>Mensaje</th>
        <th>Fecha Creado</th>
        <th>

        </th>
			</thead>
			<tbody>
				<%= render donations %>
			</tbody>
		</table>
	</div>
<% else %>
	<p><em>No hay donations.</em></p>
<% end %>
