<% if donations.any? %>
	<div>
		<h2>Donations: </h2>
		<table class="table table-striped">
			<thead>
				<th>Autor</th>
				<th>Monto Hecho</th>
		        <th>Mensaje</th>
		        <th>Fecha Creado</th>
			</thead>
			<tbody>
				<%= render donations %>
			</tbody>
		</table>
	</div>
<% else %>
	<p><em>No donations.</em></p>
<% end %>
<%= link_to "New Donation", new_campaign_donation_path(@campaign.id), class:"btn btn-default btn-lg" %> 
